################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Udon-MIDI-Web-Helper/teVirtualMIDI.cs
